[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
seaborn = "*"
plotly = "==5.1.0"
pyyaml = "*"
scikit-learn = "*"
xgboost = "*"
pythermalcomfort = "*"
shap = "0.39.0"
kaleido = "*"
PyQt5 = "*"
statsmodels = "*"
bioinfokit = "*"
dataframe-image = "*"

[dev-packages]
influxdb = "*"
oauth2client = "*"
gspread = "*"
sqlalchemy = "*"
psychrolib = "*"
imgkit = "*"

[requires]
python_version = "3.10"
